.neows{
    max-width: 100%;
    height: 100%;
    padding-top: 120px;
    color: #fff;
}

.neows__container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.neows__enterData{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.neows__enterData_button{
    display: block;
    margin-right: 20px;
    outline: none;
    background-color: #000;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}

.neows__enterData_inputStart{
    display: block;
    max-width: 150px;
    outline: none;
    text-align: center;
    margin-right: 20px;
    background-color: #24292E;
    color: #fff;
    border: 1px groove #000;
}

.neows__enterData_inputEnd{
    display: block;
    max-width: 150px;
    outline: none;
    text-align: center;
    background-color: #24292E;
    color: #fff;
    border: 1px groove #000;
}

.neows__enterData_error{
    display: block;
    max-width: 1000px;
    height: 10px;
    margin-bottom: 50px;
    color: red;
}

@media (max-width: 700px) {
    .neows{
        max-width: 100%;
        height: 100%;
        padding-top: 220px;
        color: #fff;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .neows__enterData{
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }

    .neows__enterData_button,
    .neows__enterData_inputStart,
    .neows__enterData_inputEnd{
        margin-top: 10px;
    }

    .neows__enterData_button{
        margin-left: 25px;
    }
}