.apod{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    color: #fff;
}

.apod__container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.apod__header{
    width: 1000px;
    height: 120px;
}

.apod__enterData{
    display: flex;
    justify-content: center;
    width: 350px;
    margin: 0 auto;
}

.apod__push{
    display: block;
    margin-right: 20px;
    outline: none;
    background-color: #000;
    border: none;
    color: #fff;
    width: 100px;
    cursor: pointer;
}

.apod__enter{
    display: block;
    width: 150px;
    outline: none;
    text-align: center;
    background-color: #24292E;
    color: #fff;
    border: 1px groove #000;
}

.apod__data{
    width: 1000px;
}

.apod__data_blockImage{
    width: 800px;
    height: 425px;
    margin: 0 auto;

}

.apod__data_image{
    width: 800px;
    height: 425px;
    margin: 0 auto;
}

.error{
    width: 1000px;
    height: 10px;
    margin-bottom: 50px;
    color: red;
}

.apod__data_video{
    width: 800px;
    height: 425px;
    margin: 0 auto;
}
