.apod{
    max-width: 100%;
    height: 100%;
    padding-top: 120px;
    color: #fff;
}

.apod__container{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.apod__header{
    max-width: 1000px;
    height: 120px;
}

.apod__enterData{
    display: flex;
    justify-content: center;
    max-width: 350px;
    margin: 0 auto;
}

.apod__push{
    display: block;
    margin-right: 20px;
    outline: none;
    background-color: #000;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
}

.apod__enter{
    display: block;
    max-width: 150px;
    outline: none;
    text-align: center;
    background-color: #24292E;
    color: #fff;
    border: 1px groove #000;
}

.apod__data{
    max-width: 1000px;
}

.apod__data_blockImage{
    max-width: 800px;
    height: 425px;
    margin: 0 auto;

}

.apod__data_image{
    max-width: 800px;
    height: 425px;
    margin: 0 auto;
}

.error{
    max-width: 1000px;
    height: 10px;
    margin-bottom: 50px;
    color: red;
}

.apod__data_video{
    max-width: 800px;
    height: 425px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .apod{
        max-width: 100%;
        height: 100%;
        padding-top: 220px;
        color: #fff;
        font-size: 14px;
    }
}

@media (max-width: 555px) {
    .apod__data_blockImage{
        max-width: 250px;
        height: 150px;
        margin: 0 auto;

    }

    .apod__data_image{
        max-width: 250px;
        height: 150px;
        margin: 0 auto;
    }

}